{% extends "masterPage.html" %}

{% block content %}

<div style="text-align: center;">
    <form action="/snapshot" method="post" style="margin: 50px;">
        <h1>Click here to send a snapshot:</h1>
        <button class="btn btn--primary" style="margin-top: 20px;" type="submit"><h1>Snapshot</h1></button>
    </form>
</div>

<div style="text-align: center;margin-top:100px">
    <form action="/settings" method="get" style="margin: 50px;">
        <h1>Edit settings here:</h1>
        <button class="btn btn--primary" style="margin-top: 20px;" type="submit"><h1>Settings</h1></button>
    </form>
</div>

{% endblock %}